%div.news_list
  %ul
    -@news.each do |news|
      %li
        %h4
          = news.heading.html_safe
        %div.news_img_container{style:"background-image: url(#{news.image_loc})"}
        %div.news_body
          =news.body.html_safe
        %div.time
          =news.created_at.strftime("%b %d %Y")
          by
          = User.find(news.user_id).profile.username.humanize