- events = Event.active_events
%h4 Current Events
%div.event-widget
  %ul
    - events.each do |event|
      %li.event-widget-item
        = "time = #{Time.now.to_s}"
        =image_tag  "#{event.image_loc}", :class => "event-widget-img"