%nav.navbar.navbar-default
  %ul.nav.navbar-nav
    %li
      =link_to 'Units', units_path
    %li
      =link_to 'Items', items_path
    %li
      =link_to 'Quests', quests_path
    %li
      =link_to 'Tier Lists', quests_path
    %li
      =link_to 'Guides', guides_path
    %li
      =link_to 'Forum', quests_path
    %li.dropdown
      %a.dropdown-toggle{:href => "#", "role" => "button", "data-toggle" => "dropdown", "data-target" => "#"}
        Tools
        %b.caret
      %ul.dropdown-menu{"role" => "menu"}
        %li
          %a{:href => "#link1"}
            Exp Calc