!!!
%html
  %head
    %title Brave Frontier
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    %meta{name:"viewport", content:"width=device-width, initial-scale=1.0"}
    = csrf_meta_tags
%body
  =render 'layouts/header'
  %div.container
    =render 'layouts/nav'
    =render 'layouts/messages'
    %div.content
      = yield
    %div.widgets
      %p
        =render 'widgets/events'
      %p Top 5 Tier List
      %p wid3
  %footer
